@font-face {
    font-family: 'ProximaNova';
    src: url('/assets/fonts/proximanova/ProximaNova-Alt-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/assets/fonts/proximanova/ProximaNova-Alt-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/assets/fonts/proximanova/ProximaNova-Alt-Regular-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/assets/fonts/proximanova/ProximaNova-Alt-Bold-Italic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/assets/fonts/proximanova/ProximaNova-Alt-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}


:root {
    --bleu: #000085;
    --jaune: #F7AF2E;
    --beige: #FFEFE0;
    --white: #FFFFFF;
    --spacing-xs: 6px;
    --spacing-sm: 12px;
    --spacing-md: 18px;
    --spacing-lg: 24px;
    --spacing-xl: 30px;
    --spacing-xxl: 36px;
    --spacing-xxxl: 42px;
    --spacing-xxxxl: 48px;
    --spacing-xxxxxl: 54px;
    --border-radius-xs: 8px;
    --border-radius-sm: 12px;
    --border-radius-md: 18px;
    --border-radius-lg: 24px;
    --border-radius-xl: 30px;
    --font-size-xs: clamp(12px, 1.5vw, 14px);
    --font-size-sm: clamp(14px, 1.5vw, 18px);
    --font-size-md: clamp(16px, 1.5vw, 20px);
    --font-size-lg: clamp(30px, 1.5vw, 42px);
    --font-size-xl: clamp(50px, 1.5vw, 69px);
}

body, 
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
    background-image: url('assets/img/background-noise.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/* -- Typography -- */
h1 {
    font-size: var(--font-size-xl);
    font-weight: 700;
    color: var(--bleu);
}

h2 {
    font-size: var(--font-size-lg);
    font-weight: 700;
    color: var(--bleu);
}

a {
    text-decoration: none;
    color: var(--bleu);
}

.steps-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    background-color: var(--jaune);
    width: 100%;
    max-width: 60vw;
    border-radius: var(--border-radius-xl);

    h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 900;
        font-size: var(--font-size-lg);
    }
}
